{% extends 'layout.html' %}
{% block body %}

<script>
    function ajax(){

    var req = new XMLHttpRequest();
    req.onreadystatechange = function(){
    if(req.readyState == 4 && req.status == 200)
    {
    document.getElementById('chats').innerHTML = req.responseText;
    }
    }
    req.open('POST', '/chats', true);
    req.send();
    }
    setInterval(function(){ajax()}, 10);
</script> 
<div class="row" onload="ajax();">
    <div class="col-xs-1"></div>
    <div class="col-xs-4" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
        <div style="text-align: center;font-size: 18px;background-color: #ddd;border-radius: 4px;color: #5e5fa4;margin-bottom: 8px;">
            <span>Friends list</span>
        </div>
        <ul class="list-group">
            {% for user in users %}
                {% if session['user_id'] != user['email'] %}
                    <li class="list-group-item"><a href="{{user['email']}}"> {{user['user']}} </a>
                        {% if user.online != "0" %}
                            <span style="height: 12px;width: 12px;background-color: #1fc124;border-radius: 6px;
                            float: right;margin-top: 5px;"></span>
                        {% else %}
                            <span style="height: 12px;width: 12px;background-color: #8a8a8a;border-radius: 6px;
                            float: right;margin-top: 5px;"></span>
                        {% endif %}
                    </li>
                {% endif %}    
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
    {% if 'receiver_id' in session %}
        {% if session['receiver_id'] != session['user_id'] %}
            <div style="text-align: center;font-size: 18px; color: #22aa45;background-color: #ddd;border-radius: 4px;">
                <span>{{ session['receiver_name']}}</span>
            </div>
            <div id="chat-box" style="overflow-y: scroll; height: 350px; padding: 10px 0px 0px 0px;">
            <div id="chats"></div>
            </div>
            <!-- {% from "includes/_formhelpers.html" import render_field %} -->
            <div>
                <form method="POST" action="">
                <div class="form-group">
                    <input type="text" class="form-control" name="text_body" id="exampleInputEmail1" aria-describedby="usernameHelp" placeholder="Enter your test ...">
                </div>
                <button type="submit" class="btn btn-primary pull-right">Send</button>
                </form>
            </div>
        {% else %}
            <div style="text-align: center;">
                <h1>Welcome to Chat Room</h1>
                <p class="lead">Select users and start chat...</p>
            </div>
        {% endif %}
    {%endif %}    
        
    </div>
    <div class="col-xs-1"></div>
</div>
{% endblock %}
