# It is pycharm generated ignore the errors
# Main library are opencv-python, flask, firebase-admin,
# numpy, face_recognition, dlib, cmake, firestore, imutils, requests, pillow.

# Download mini-conda and use conda environment for easy installation

# First run these commands

# pip install opencv-python
# conda install -c conda-forge dlib
# pip install face_recognition

CacheControl==0.12.6
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
dlib @ file:///D:/bld/dlib_1607165191327/work
face-recognition==1.3.0
face-recognition-models==0.3.0
firebase-admin==4.5.1
Flask==1.1.2
gcloud==0.18.3
google-api-core==1.25.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-cloud-core==1.5.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.35.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.35.0
httplib2==0.18.1
idna==2.10
imutils==0.5.4
itsdangerous==1.1.0
Jinja2==2.11.2
jws==0.1.3
MarkupSafe==1.1.1
msgpack==1.0.2
numpy @ file:///D:/bld/numpy_1610324782150/work
oauth2client==4.1.3
opencv-python==4.5.1.48
Pillow==8.1.0
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
Pyrebase4==4.4.3
python-jwt==2.0.1
pytz==2020.5
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7
six==1.15.0
uritemplate==3.0.1
urllib3==1.26.2
Werkzeug==1.0.1
wincertstore==0.2
